.container-fluid{
    background-color:black;
    font-size:30px;
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left:20px;
    
    
}
span{
    padding-left: 900px;
    font-size: small;
}