<body>
<div class="type">We are at the Heart of Appropriate Care</div>
<div class="dis">
<div class="image-container">
    <img src="assets\coach.jpg" >
    <div class="text-overlay">
        <button>Login as a Coach</button> <br>
        <button type="submit"  routerLink="/signup/coaches" >Join as a Coach</button>
    </div>
    
</div>

<div class="image-container1">
    <img src="assets\user.jpg" >
    <div class="text-overlay1">
        <button>Login as a User</button> <br>
        <button type="submit" routerLink="/signup/users" >Join as a User</button>
    </div>
</div>
</div>

</body>
